{
    "disks":[
        {
            "name":"Root Partition",
            "mountpoint":"/",
            "used":"",
            "size":""
        },
        {
            "name":"Some Other Drive",
            "mountpoint":"/boot/efi",
            "used":"",
            "size":""
        }
    ]
}